.navTxt{
    text-align: center;
}

.menuButtons{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    width: 100%;
    cursor: pointer;
}

#sideNav{
    padding: 15px;
    height: 70vh;
}